<form [formGroup]="rolloverForm" (ngSubmit)="onSubmit()">
  <h3>Rollover Election</h3>

  <label>
    <input type="radio" formControlName="rolloverOption">
    Rollover Amount: 
    <input type="text"  formControlName="rolloverAmount">
  </label>

  <label>
    <input type="radio" formControlName="selectsourceOption">
    Maximum Rollover Amount From Sources Listed Below
  </label>
  
  <label>
    <input type="radio" formControlName="allsourceOption">
    Maximum Rollover Amount From All Sources
  </label>
  <button type="submit">Submit</button>
</form>
<hr>
<p>
  Form Value: {{ rolloverForm.value | json }}
</p>
